.app{
    height: 100vh;
    overflow-y: hidden;
    background-color: #fff;
}

.ripple {
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
  }
  .ripple:hover {
    background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
  }
  .ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }


  .ripple2 {
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
  }
  .ripple2:hover {
    background: #73f2db radial-gradient(circle, transparent 1%, #73f2db 1%) center/15000%;
  }
  .ripple2:active {
    background-color: #32ad96;
    background-size: 100%;
    transition: background 0s;
  }



  .ripple3{
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
  }
  .ripple3:hover {
    background: #f6bcb0 radial-gradient(circle, transparent 1%, #f6bcb0 1%) center/15000%;
  }
  .ripple3:active {
    background-color: #ffffff;
    background-size: 100%;
    transition: background 0s;
  }



  .ripple__muted {
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
  }
  .ripple__muted:hover {
    background: #cfcdcd radial-gradient(circle, transparent 1%, #cfcdcd 1%) center/15000%;
  }
  .ripple__muted:active {
    background-color: #ffffff;
    background-size: 100%;
    transition: background 0s;
  }


  .ripple__tray {
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
  }
  .ripple__tray:hover {
    background: #fcfcfc radial-gradient(circle, transparent 1%, #fcfcfc 1%) center/15000%;
  }
  .ripple__tray:active {
    background-color: #e6e5e5;
    background-size: 100%;
    transition: background 0s;
  }
  /* #fcfcfc */

  .ripple__chat__one {
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
  }
  .ripple__chat__one:hover {
    background: #fad1a0 radial-gradient(circle, transparent 1%, #fad1a0 1%) center/15000%;
  }
  .ripple__chat__one:active {
    background-color: #feae4f;
    background-size: 100%;
    transition: background 0s;
  }

  .ripple__chat__two {
    background-position: center;
    transition: background 0.8s;
    cursor: pointer;
  }
  .ripple__chat__two:hover {
    background: #6cd9c5 radial-gradient(circle, transparent 1%, #6cd9c5 1%) center/15000%;
  }
  .ripple__chat__two:active {
    background-color: #34ac96;
    background-size: 100%;
    transition: background 0s;
  }
  .blur{
  overflow: hidden;
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 21%;
    height: 50px;
    bottom: 10;
    background: linear-gradient(transparent, white);
  }
  }

  .agenda__icon{
    cursor: pointer;
    font-size: 20px;
    color: #5f6670; 
  }

  /* .pop-up {
    position: relative;
    display: inline-block;
  }
  .pop-up .pop-up-content {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    z-index: 1;
    transition: visibility 0s, opacity 0.3s ease-out;
  }
  .pop-up:hover .pop-up-content {
    visibility: visible;
    opacity: 1;
  } */

  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    font-size: 14px;
    visibility: hidden;
    width: 120px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }